:root {
  --color-primary: #6741d9;
  --color-primary-light: #7950f2;
  --color-text: #dee2e6;
  --color-text-dark: #adb5bd;
  --color-background-100: #343a40;
  --color-background-500: #2b3035;
  --color-background-900: #212529;
  --color-red: #fa5252;
  --color-red-dark: #e03131;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--color-text);
  background-color: var(--color-background-900);
}

/* ******* */

.nav-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 7.2rem;
  padding: 0 3.2rem;
  background-color: var(--color-primary);
  border-radius: 0.9rem;
}
.full-screen-nav{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: var(--color-primary);
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
}
.logo-inside{
  align-self: center;
}

.logo-inside .logo span{
font-size: 5.2rem;
}

.logo-inside .logo h1{
font-size: 4.4rem;
}

.nav-inside{
  position: relative;
}

.nav-inside-message{
  position: absolute;
  top: 50px;
  color: #FFE9DB;
  font-size: 1.6rem;
}

.nav-inside .search{
  width: 55rem;
  background: #ffffff;
  color: var(--color-primary);
}

.nav-inside .search::placeholder{
  color: var(--color-primary);
}

.nav-inside .num-results{
  display: none;
}

.main {
  height: calc(100vh - 7.2rem - 3 * 2.4rem);
  display: flex;
  gap: 2.4rem;
  justify-content: center;
}

.box {
  width: 42rem;
  max-width: 42rem;
  background-color: var(--color-background-500);
  border-radius: 0.9rem;
  overflow: auto;
  position: relative;
}

.loader {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  margin: 4.8rem;
}

.error {
  text-align: center;
  font-size: 2rem;
  padding: 4.8rem;
}

/* ******* */

.logo {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.logo span {
  font-size: 3.2rem;
}

.logo h1 {
  font-size: 2.4rem;
  color: #fff;
}

.search {
  justify-self: center;
  border: none;
  padding: 1.1rem 1.6rem;
  font-size: 1.8rem;
  border-radius: 0.7rem;
  width: 40rem;
  transition: all 0.3s;
  color: var(--color-text);

  /* background-color: var(--color-background-900); */
  background-color: var(--color-primary-light);
}

.search::placeholder {
  color: var(--color-text-dark);
}

.search:focus {
  outline: none;
  box-shadow: 0 2.4rem 2.4rem rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

.num-results {
  justify-self: end;
  font-size: 1.8rem;
}

.list {
  list-style: none;
  padding: 0.8rem 0;
  overflow: auto;
}

.list-watched {
  height: calc(100% - 9rem);
}

.list li {
  position: relative;
  display: grid;
  grid-template-columns: 4rem 1fr;
  grid-template-rows: auto auto;
  column-gap: 2.4rem;
  font-size: 1.6rem;
  align-items: center;

  padding: 1.6rem 3.2rem;
  border-bottom: 1px solid var(--color-background-100);
}

.list.list-movies li {
  cursor: pointer;
  transition: all 0.3s;
}

.list.list-movies li:hover {
  background-color: var(--color-background-100);
}

.list img {
  width: 100%;
  grid-row: 1 / -1;
}

.list h3 {
  font-size: 1.8rem;
}

.list div {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.list p {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.btn-delete {
  position: absolute;
  right: 2.4rem;

  height: 1.8rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  background-color: var(--color-red);
  color: var(--color-background-900);
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-delete:hover {
  background-color: var(--color-red-dark);
}

/* ******* */

.summary {
  padding: 2.2rem 3.2rem 1.8rem 3.2rem;
  border-radius: 0.9rem;
  background-color: var(--color-background-100);
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.2);
}

.summary h2 {
  text-transform: uppercase;
  font-size: 1.6rem;
  margin-bottom: 0.6rem;
}

.summary div {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  font-size: 1.6rem;
}

.summary p {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

/* ******* */

.details {
  line-height: 1.4;
  font-size: 1.4rem;
}

.details header {
  display: flex;
}

.details section {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.details img {
  width: 33%;
  object-fit: cover;
}

.details-overview {
  width: 100%;
  padding: 2.4rem 3rem;
  background-color: var(--color-background-100);
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.details-overview h2 {
  font-size: 2.4rem;
  margin-bottom: 0.4rem;
  line-height: 1.1;
}

.details-overview p {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.rating {
  background-color: var(--color-background-100);
  border-radius: 0.9rem;
  padding: 2rem 2.4rem;
  margin-bottom: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.btn-add {
  background-color: var(--color-primary);
  color: var(--color-text);
  border: none;
  border-radius: 10rem;
  font-size: 1.4rem;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-add:disabled{
  cursor: not-allowed;
  opacity: 0.5;
}

.btn-add:disabled:hover{
  background-color: var(--color-primary);
  color: var(--color-text);
}

.btn-add:hover {
  background-color: var(--color-primary-light);
}

.button-msg{
  color: var(--color-red);
}

.seconds {
  background-color: var(--color-background-100);
  width: 8rem;
  border-radius: 10rem;
  text-align: center;
  padding: 0.4rem;
  margin-top: 2.4rem;
}

.btn-back {
  position: absolute;
  top: 0.6rem;
  left: 0.6rem;
  height: 3.2rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  background-color: #fff;
  color: var(--color-background-500);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.8);
  font-family: sans-serif;
  font-size: 2.4rem;
  cursor: pointer;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile-num-result{
  display: none;
}

@media (max-width: 900px) {
  .logo h1{
    display: none;
  }
  .search{
    width: auto;
    grid-column: 1;
    grid-row: 1;
  }
  .nav-inside .search{
    width: auto;
  }
  .nav-bar{
    grid-template-columns: 13fr 1fr;
    padding: 0 1rem;
  }
  .logo{
    grid-row: 1;
    grid-column: 1;
  }
  .num-results{
    grid-row: 1;
    white-space: nowrap;
    font-size: 1.4rem;
  }
  .list div{
    display: block;
  }
  .summary div{
    display: block;
    font-size: 1.4rem;
  }
  .summary h2{
    font-size: 1.2rem;
    white-space: nowrap;
    font-weight: unset;
  }
  .btn-delete {
    top: 3px;
    left: 0;
  }
  .list li{
    padding: 1rem;
    column-gap: 1rem;
  }
  .list h3{
    font-size: 1.4rem;
    white-space: nowrap;
    overflow: hidden;
    width: 80px;
    text-overflow: ellipsis;
  }
  .list.list-movies li span{
    font-size: 1rem;
  }
  .num-result{
    display: none;
  }
  .mobile-num-result{
    display: block;
  }
  .list p{
    font-size: 1.4rem;
  }
  .details header{
    display: block;
  }
  .btn-back{
    display: none;
  }
  .details img{
    width: 100%;
  }
  .details-overview h2{
    font-weight: unset;
    font-size: 1.4rem;
  }
  .details-overview{
    padding: 1rem;
  }
  .details section{
    padding: 1rem;
  }
  .rating{
    padding: 1rem;
    gap: 1rem;
  }
  .button-msg{
    font-size: 1.4rem;
  }
  }